@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap');

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family:'Archivo Narrow', sans-serif;
}

:root {
  font-size: 62.5%;
}
