@import '../../styles/variables.scss';

.transaction-container {
  display: flex;
  flex-wrap: wrap;
  font-size: #{map-get($fonts-sizes, small)};
  justify-content: center;
  align-items: center;

  &__cell {
    display: flex;
    flex-direction: column;
    border-right:0.1rem solid #{map-get($theme, primary-text)};
  }

  &__key {
    font-weight: bold;
    background-color: #{map-get($theme, grey)};
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: #{map-get($fonts-sizes, small)};
    border-bottom:0.1rem solid #{map-get($theme, primary-text)};
  }

  &__input {
    border: 0;
    padding: 0.25rem 0.5rem;
    border-color: #{map-get($theme, primary)};
    text-align: center;
    border-bottom:0.1rem solid #{map-get($theme, primary-text)};
    font-size: #{map-get($fonts-sizes, small)};

    &:active, &:focus {
      outline: 0.1rem solid #{map-get($theme, secondary)};
      border: 0;
    }
  }
}